<div [hidden]="!(problemId === '1'|| problemId === '2' || problemId === '3')" class="main-content">
  <button [routerLink]="['/dashboard']" mat-mini-fab color="primary">Back</button>
  <div class="main-container">
    <div class="left-container">
      <div class="container-fluid">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Question</h4>
          </div>
          <div class="card-body">

            <div *ngIf="problemId === '1'" class="input-group no-border">
              <p class="question">
                What is/are available product(s) containing Dietary Supplement Ingredient
                &nbsp;
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Ingredient X" [matAutocomplete]="autoi" [formControl]="ingredCtrl">
                  <mat-autocomplete #autoi="matAutocomplete">
                    <mat-option *ngFor="let ingred of filteredingredient | async" [value]="ingred.name">
                      <span>{{ingred.name}}</span>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

                ?
              </p>
              &nbsp;
              <button mat-raised-button (click)="queryServer()" class="btn btn-white btn-round btn-just-icon">
                <i class="material-icons">search</i>
                <div class="ripple-container"></div>
              </button>
            </div>

            <div *ngIf="problemId === '2'" class="input-group no-border">
              <p class="question">
                What kind of Dietary Supplement product is effective for my &nbsp;
                <mat-form-field>
                  <input matInput placeholder="Disease X" [matAutocomplete]="autods" [formControl]="dsCtrl">
                  <mat-autocomplete #autods="matAutocomplete">
                    <mat-option *ngFor="let ds of filteredds | async" [value]="ds.name">
                      <span>{{ds.name}}</span>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                ?
              </p>
              &nbsp;
              <button mat-raised-button (click)="queryServer()" class="btn btn-white btn-round btn-just-icon">
                <i class="material-icons">search</i>
                <div class="ripple-container"></div>
              </button>
            </div>

            <div *ngIf="problemId === '3'" class="input-group no-border">
              <p class="question">
                What kind of Dietary Supplement ingredient is effective for my &nbsp;
                <mat-form-field>
                  <input matInput placeholder="Disease X" [matAutocomplete]="autods" [formControl]="dsCtrl">
                  <mat-autocomplete #autods="matAutocomplete">
                    <mat-option *ngFor="let ds of filteredds | async" [value]="ds.name">
                      <span>{{ds.name}}</span>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                ?
              </p>
              &nbsp;
              <button mat-raised-button (click)="queryServer()" class="btn btn-white btn-round btn-just-icon">
                <i class="material-icons">search</i>
                <div class="ripple-container"></div>
              </button>
            </div>


          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="card">
          <div class="card-body">
            <div class="example-button-row">
              <!-- <button mat-raised-button color="primary" (click)="collapse(selectedNode)">Collapse</button>
                  <button mat-raised-button color="accent" (click)="findMore(selectedNode)">Find More</button> -->
              <button mat-raised-button color="accent" (click)="reCenter()">Re-Center</button>
            </div>
            <div id="body" (contextmenu)="onContextMenu($event)">
              <div class="svg-container">

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="right-container">
      <div class="container-fluid">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Type of Nodes</h4>
          </div>
          <div class="card-body">
            <div class="color-container">

              <div>
                <div>Disease or Syndrome</div>
                &nbsp;
                <div class="color-box" style='background-color: #C64E39'></div>
              </div>
              <div>
                <div>Dietary Supplement Product</div>
                &nbsp;
                <div class="color-box" style='background-color: #39B1C6'></div>
              </div>
              <div>
                <div>Dietary Supplement Ingredient</div>
                &nbsp;
                <div class="color-box" style='background-color: #397bc6'></div>
              </div>

              <div>
                <div>Drug</div>
                &nbsp;
                <div class="color-box" style='background-color: rgb(197, 82, 226)'></div>
              </div>

              <!-- <div>
                <div>Therapeutic Class</div>
                &nbsp;
                <div class="color-box" style='background-color: #363'></div>
              </div> -->

              <div>
                <div>Sign or Symptom</div>
                &nbsp;
                <div class="color-box" style='background-color: #bc6'></div>
              </div>
              <!-- <div>
                <div>System Organ Class</div>
                &nbsp;
                <div class="color-box" style='background-color: #a739'></div>
              </div> -->
              <!-- <div>
                <div>root</div>
                &nbsp;
                <div class="color-box" style='background-color: #c6a739'></div>
              </div> -->
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Type of Relations</h4>
          </div>
          <div class="card-body">
            <div class="color-container">

              <div>
                <div>Has Ingredient</div>
                &nbsp;
                <div class="color-line" style='background-image: linear-gradient(to right, #00bc9b, #5eaefd );'></div>
              </div>
              <div>
                <div>Has Adverse Reaction</div>
                &nbsp;
                <div class="color-line" style='background-image: linear-gradient(to right, #5eaefd, #bc6 );'></div>

              </div>
              <div>
                <div>Interacts With</div>
                &nbsp;
                <div class="color-line"
                  style='background-image: linear-gradient(to right, #5eaefd, rgb(197, 82, 226) );'></div>

              </div>

              <div>
                <div>Is Effective For</div>
                &nbsp;
                <div class="color-line" style='background-image: linear-gradient(to right, #5eaefd, #C64E39 );'></div>

              </div>

              <!-- <div>
                  <div>root</div>
                  &nbsp;
                  <div class="color-box" style='background-color: #c6a739'></div>
                </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Selected Node</h4>
          </div>
          <div class="card-body">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Name
                  </mat-panel-title>
                  <mat-panel-description>
                    {{selectedNode.data.name}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p>{{selectedNode.data.name}}</p>
              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Type
                  </mat-panel-title>
                  <mat-panel-description>
                    {{fullNodeName()}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p>{{fullNodeName()}}</p>
              </mat-expansion-panel>
              <mat-expansion-panel *ngIf="selectedNode.data.background">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Background
                  </mat-panel-title>
                  <mat-panel-description>
                    Click to see more!
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p>{{selectedNode.data.background || "None"}}</p>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu">
  <button mat-menu-item (click)="collapse(selectedNode)">Collapse</button>
  <button mat-menu-item [matMenuTriggerFor]="nodeType">Find More By Node Type</button>
</mat-menu>

<mat-menu #nodeType="matMenu">
  <button mat-menu-item (click)="findMore(selectedNode, 'all')">All</button>
  <button mat-menu-item (click)="findMore(selectedNode, 'DSP')">Dietary Supplement Product</button>
  <button mat-menu-item (click)="findMore(selectedNode, 'SDSI')">Dietary Supplement Ingredient</button>
  <button mat-menu-item (click)="findMore(selectedNode, 'DIS')">Disease or Syndrom</button>
  <button mat-menu-item (click)="findMore(selectedNode, 'PD')">Drug</button>
  <!-- <button mat-menu-item (click)="findMore(selectedNode, 'TC')">Therapeutic Class</button> -->
  <button mat-menu-item (click)="findMore(selectedNode, 'SS')">Sign or Symptom</button>
  <!-- <button mat-menu-item (click)="findMore(selectedNode, 'SOC')">System Organ Class</button> -->
</mat-menu>

<div *ngIf="problemId !== '1'&& problemId!== '2' && problemId !== '3'">
  <button [routerLink]="['/dashboard']" mat-mini-fab color="primary">Back</button>
  <div>

    <h1 style="text-align: center; width: 100%;">Coming soon!</h1>
  </div>
</div>
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100">
  <defs>
    <linearGradient id="has-ingredient" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop offset="0%" stop-color="#00bc9b" />
      <stop offset="100%" stop-color="#5eaefd" />
    </linearGradient>
    <linearGradient id="r-has-ingredient" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop offset="0%" stop-color="#5eaefd" />
      <stop offset="100%" stop-color="#00bc9b" />
    </linearGradient>

    <linearGradient id="has-adverse-reaction" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop offset="0%" stop-color="#bc6" />
      <stop offset="100%" stop-color="#5eaefd" />
    </linearGradient>
    <linearGradient id="r-has-adverse-reaction" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop offset="0%" stop-color="#5eaefd" />
      <stop offset="100%" stop-color="#bc6" />
    </linearGradient>

    <linearGradient id="interacts-with" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop offset="0%" stop-color="#c552e2" />
      <stop offset="100%" stop-color="#5eaefd" />
    </linearGradient>
    <linearGradient id="r-interacts-with" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop offset="0%" stop-color="#5eaefd" />
      <stop offset="100%" stop-color="#c552e2" />
    </linearGradient>

    <linearGradient id="is-effective-for" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop offset="0%" stop-color="#C64E39" />
      <stop offset="100%" stop-color="#5eaefd" />
    </linearGradient>
    <linearGradient id="r-is-effective-for" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop offset="0%" stop-color="#5eaefd" />
      <stop offset="100%" stop-color="#C64E39" />
    </linearGradient>
  </defs>
</svg>